<p>
    <strong><%= comment.commenter %></strong>
</p>
 
<p>
<!--    <strong>Comment:</strong> -->
    <%= comment.body %>
</p>

<p>
    <%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
